body {
  font-family: Quattrocento;
  font-size: 16px;
  margin: 0;
}
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    font-weight: regular;
    font-size: 16px;
    float: left;
    max-width: 160px;
    margin: 1em;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 140px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
  margin: 0.5em 0;
}

nav ul a {
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    text-align: justify;
    width: 800;
}
h1, h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 36px;
}
div.body {
  display: block;
  margin: auto;
  width: 90%;
}

/* unvisited link */

a:link {
    color: #574F6B;
}

/* visited link */
a:visited {
    color: #8285A3;
}

/* mouse over link */
a:hover {
    color: lightgrey;
}

/* selected link */
a:active {
    color: DarkGrey;
}
hr {
  border: 0px solid lightgrey;
}
table {
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8285A3;
  color: white;
}
div.polaroid {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  padding: 10px;
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

div.caption {
  font-size: 14px;
  text-align: justify;
  padding: 10px 20px;
}
div.caption span.caption-label {
  font-style: italic;
}
